#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.nav{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end
}

.nav-item{
  margin: 15px;
}